/* /Pages/Index.razor.rz.scp.css */
.topleft[b-sjiir3opit] {
    position: absolute;
    top: 8px;
    left: 16px;
    z-index: 1;
}

.topright[b-sjiir3opit] {
    position: absolute;
    top: 8px;
    right: 16px;
    z-index: 1;
}

.svgViewer[b-sjiir3opit] {
    position: relative;
    width: 100%;
    height: 100%;
}
