@using BlazorDownloadFile
@using StarGlyph
@using Svg
@using System.Xml

@inject IBlazorDownloadFileService Download

@page "/"

<PageTitle>StarGlyph</PageTitle>

<div class="d-flex flex-row my-2 mx-4">
    <MudGrid Spacing=2>
        <MudItem Class="flex-grow-1">
            <MudPaper class="relative" Height=100% Outlined="true">
                @*zoom and download*@
                <div class="topleft">
                    <MudFab OnClick=@(()=>zoom=MathF.Min(maxZoom, zoom*2))
                        Color="Color.Secondary" Size=Size.Small Icon="@Icons.Material.Filled.Add"/>

                    <MudText Inline=true Typo=Typo.body1 Class="mx-1">@zoom%</MudText>

                    <MudFab OnClick=@(()=>zoom=MathF.Max(minZoom, zoom/2))
                        Color="Color.Secondary" Size=Size.Small Icon="@Icons.Material.Filled.Remove"/> 
                </div>  

                <div class="topright">
                    <MudFab  OnClick=DownloadDocument
                        Color="Color.Secondary" Size=Size.Medium Icon="@Icons.Material.Filled.Download"/>
                </div>

                @*svg*@


            </MudPaper>
        </MudItem>
    
        <MudItem xs=5 Class="d-flex flex-column">
            @*Options*@
            <MudExpansionPanels>
                <MudExpansionPanel Text="Options">
                    <MudForm  @bind-IsValid=formSucess>
                        <div Class="d-flex flex-row">
                            <MudText Typo=Typo.body1 Class="my-2 mr-2">Style:</MudText>
                            <MudChipSet @bind-SelectedChip=selectedStyle Filter="true" Mandatory=true>
                                <MudChip Text="Default" Color=Color.Primary Default=true/>
                                <MudChip Text="Strikethrough" Color=Color.Primary/>
                            </MudChipSet>
                         </div>

                        <MudTextField @bind-Value=maxLineLength Label="Max line length" Immediate=true
                            Adornment=Adornment.End AdornmentIcon=@Icons.Material.Outlined.Calculate/>
                        <MudTextField @bind-Value=maxWordsPerLine Label="Max words per line" Immediate=true
                            Adornment=Adornment.End AdornmentIcon=@Icons.Material.Outlined.Calculate/>
                    </MudForm>
                </MudExpansionPanel>
            </MudExpansionPanels>
        </MudItem>
    </MudGrid>
</div>

@code
{
    SvgDocument? document;
    string? documentContent;
    string input="Replace this with something funny";

    float zoom=100;
    const float minZoom = 12.5f, maxZoom = 800f;

    MudForm? form;
    MudChip? selectedStyle;
    bool formSucess;
    int maxLineLength = 6;
    int maxWordsPerLine = 2;

    void UpdateDocument()
    {
        document = StarGlyphGenerator.StringToSVG(input, new StarGlyphOptions
        {
            horizontalLines = (selectedStyle != null ? selectedStyle.Text : "Default") switch
            {
                "Default" => false,
                "Strikethrough" => true,
                _ => throw new InvalidDataException()
            },
            maxLineLength=maxLineLength,
            maxWordsPerLine = maxWordsPerLine
        });

        documentContent = document.GetXML();
    }

    async void DownloadDocument()
    {
        await Download.DownloadFileFromText("StarGlyph.svg", documentContent, contentType:"application/xml",  encoderShouldEmitUTF8Identifier:false);
    }

    public Index()
    {
        UpdateDocument();
    }
}