.topleft {
    cursor: pointer;
    position: absolute;
    top: 8px;
    left: 16px;
    z-index: 1;
}

.topright {
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 16px;
    z-index: 1;
}

.svgViewer {
    cursor: grab;
    position: relative;
    width: 100%;
    height: 100%;
}